@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.grid-container {
    display: grid;
    grid-template-columns: repeat(8, auto);
    max-width: 80vh;
    max-height: auto;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}

.light {
    background-color: whitesmoke;
}

.dark {
    background-color: darkseagreen;
}

.file-text {
    text-align: right;
    vertical-align: bottom;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

    .fill img {
        flex-shrink: 0;
        width: 100%;
        height: 100%
    }