@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    char[] characters = "abcdefgh".ToCharArray();
    char[] numbers = "87654321".ToCharArray();
}

<div class="grid-container">
    @{
        for (int rank = 1; rank < 9; rank++)
        {
            for (int file = 1; file < 9; file++)
            {
                bool isLightSquare = (file + rank) % 2 != 0;
                var id = string.Format("{0}.{1}", characters[file-1], numbers[rank-1]);
                string rankString = "";
                string fileString = "";
                if(file==1){
                    rankString = numbers[rank-1].ToString();
                }
                if((rank/8)==1){
                    fileString += characters[file-1].ToString();
                }
                <div class="grid-item @(@isLightSquare ? "light" : "dark")">
                    <div class="rank-text">@rankString</div>
                    <div class="file-text">@fileString</div>
                </div>
            }
        }
    }
</div>
